<section class="toggle" *ngIf="timeFilter" [@EnterLeave]>
    <form  [formGroup]="form" class="checkboxes"  >
      <div class="form-group hour">
        <p>Selecciona un horario</p>
        <div class="inputs">
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  [value]="this.globals.selectedHourAll[1].name" (change)="onCheckboxChange($event)" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Horario A.M</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  [value]="this.globals.selectedHourAll[2].name" (change)="onCheckboxChange($event)"  class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Horario P.M</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  [value]="this.globals.selectedHourAll[3].name" (change)="onCheckboxChange($event)"  class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Hora de almuerzo 13:00 a 15:00 hrs.</label>
          </div>
        </div>
      </div>
      <div class="form-group day">
        <p>Día de la semana</p>
        <div class="inputs">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" [value]="this.globals.selectedHourAll[4].name" (change)="onCheckboxChange($event)"  type="checkbox" id="monday">
            <label class="custom-control-label" for="monday">LUN</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" [value]="this.globals.selectedHourAll[5].name" (change)="onCheckboxChange($event)"  type="checkbox" id="tuesday" >
            <label class="custom-control-label" for="tuesday">MAR</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="wednesday" [value]="this.globals.selectedHourAll[6].name" (change)="onCheckboxChange($event)">
            <label class="custom-control-label" for="wednesday">MIE</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="thursday" [value]="this.globals.selectedHourAll[7].name" (change)="onCheckboxChange($event)">
            <label class="custom-control-label" for="thursday">JUE</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="friday" [value]="this.globals.selectedHourAll[8].name" (change)="onCheckboxChange($event)">
            <label class="custom-control-label" for="friday">VIE</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="saturday" [value]="this.globals.selectedHourAll[9].name" (change)="onCheckboxChange($event)">
            <label class="custom-control-label" for="saturday">SAB</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="sunday" [value]="this.globals.selectedHourAll[10].name" (change)="onCheckboxChange($event)">
            <label class="custom-control-label" for="sunday">DOM</label>
          </div>
        </div>
      </div>
      <div class="button">
        <div class="form-group form-row">
          <div class="col-6">
            <button type="submit" class="btn outline" (click)="timeFilter  = !timeFilter ">Cerrar</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn one" (click)="timeFilter  = !timeFilter ">Confirmar</button>
          </div>
        </div>
      </div>
    </form>
  </section>