
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-7">
        <div class="master-content">

          <section class="top oversize">
            <div class="container">
              <div class="title">
                <h1>Has reservado con éxito</h1>
                <p>Recuerde que para confirmar su reserva, debe presionar el link enviado a su correo electrónico.</p>
                <p>Se envió el enlace a: {{ user.email }}</p>
              </div>
            </div>
          </section>

          <section class="content">
            <div class="container">
              <div class="data-card">
                <div class="flex-between">
                  <ul>
                    <li>
                      <p>Médico</p>
                      <h4 [innerHTML]="result._source.full_name"></h4>
                      <h5 [innerHTML]="result._source.specialty_name">Traumatología adulto</h5>
                    </li>
                    <li>
                      <p>Médico</p>
                      <h4>{{result.schedule.dayStringLong}}  / {{result.schedule.Hora}} hrs.</h4>
                    </li>
                    <li>
                      <p>Dirección</p>
                      <h4>{{result.schedule.direccion}}</h4>
                      <h5>{{result.schedule.nombre_centro}}</h5>
                    </li>
                    <li>
                      <p>Valor referencial</p>
                      <h4>{{agenda.result.MONTO_PAGAR}}</h4>
                    </li>
                  </ul>
                  <div class="map-zone">


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.8349135897656!2d-70.64888058453596!3d-33.427548103723915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5be3da3ccc1:0x230a4f8e5707bcc7!2sRecoleta 454!5e0!3m2!1ses!2scl!4v1591206158153!5m2!1ses!2scl" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
                </div>

              </div>
              <div class="cancel text-center">
                <p>Si te equivocaste y deseas anular tu cita</p>
                <a >Haz clic aquí</a>
              </div>
            </div>
            <div class="bottom-fixed">
              <a [routerLink]="['/']" type="submit" class="btn one">Finalizar</a>
            </div>
          </section>

        </div>
      </div>

    </div>
  </div>
