
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-7">
        <div class="master-content">

            <section class="top oversize">
              <div class="container">
                <div class="back">
                  <a backButton>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                      <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                    </svg>
                    Volver</a>
                </div>
                <div class="title">
                  <h1>Valida tus datos</h1>
                  <p>Comprueba los datos de tu reserva y confirma la cita médica.</p>
                </div>
              </div>
            </section>

            <section class="content">
              <div class="container">
                <div class="data-card">
                  <ul>
                    <li>
                      <p>Médico</p>
                      <h4 [innerHTML]="result._source.full_name"></h4>
                      <h5 [innerHTML]="result._source.specialty_name"></h5>
                    </li>
                    <li>
                      <p>Médico</p>
                      <h4>{{result.schedule.dayStringLong}}  / {{result.schedule.Hora}}   hrs.</h4>
                    </li>
                    <li>
                      <p>Dirección</p>
                      <h4>{{result.schedule.direccion}}</h4>
                      <h5>{{result.schedule.nombre_centro}}</h5>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bottom-fixed">
                <a [routerLink]="['/reserva-confirmacion']" type="button" class="btn one">Validar</a>
              </div>
            </section>

          </div>
        </div>

      </div>
    </div>
