<nav class="navbar navbar-expand-lg">
	<div class="container">
		  <a class="navbar-brand" [routerLink]="['/']">
		  <img src="{{config.result.logo_url}}" width="auto" height="auto" alt="Logo Clínica">
		</a>
		  <div class="dropdown"  *ngIf="user">
			  <div class="notifications">
				  <span>0</span>
			  </div>
	  <a class="menu-toggle nav-link dropdown-toggle" (click)="active=!active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <span class="hamburger-bar"></span>
	  <span class="hamburger-bar"></span>
	  <span class="hamburger-bar"></span>
			  </a>
	  <div [ngClass]="{'fadeIn show': active}" class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item"  ><strong>{{user.first_name}}</strong></a>
		<a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/mis-citas']" >Mis citas</a>
	  </div>
	</div>
	</div>
  </nav>

  <div class="overlay-site"></div>


