
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-7">
      <div class="master-content">

        <section class="top">
          <div class="container">
            <div class="back">
              <a backButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                  <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                </svg>
                Volver</a>
            </div>
            <div class="dr">
              <div class="media">
                <a href="#" class="align-self-center">
                  <img src="assets/img/no-foto.jpeg" class="img-fluid">
                </a>
                <div class="media-body align-self-center">
                  <h5 class="mt-0 capitalize" [innerHTML]="result._source.full_name"></h5>
                  <p class="capitalize" [innerHTML]="result._source.specialty_name"></p >
                </div>
              </div>
            </div>
            <form>
              <div class="form-group filters">
                <ul>
                  <li><a (click)="placeFilter = !placeFilter">Filtrar por lugar</a></li>
                  <li><a (click)="timeFilter = !timeFilter">Filtrar por Hora / Día</a></li>
                </ul>
              </div>
            </form>
          </div>
        </section>

        <section class="results content dr-index">
          <div class="container" [ngClass]="(loadingList)?'container loading-list':'container'">
            <div class="category"  *ngIf="docList.length">
              <h3>Profesionales</h3>
              <div class="row dr" *ngFor="let doc of docList" >
                <div class="col-9 info">
                  <div class="media">
                    <a  (click)="onInteractionClick(doc);" class="align-self-center">
                      <img src="assets/img/no-foto.jpeg" class="img-fluid">
                    </a>
                    <div class="media-body align-self-center">
                      <h5 class="mt-0 capitalize" [innerHTML]="doc._source.full_name" ></h5>
                      <p>{{doc._source.specialty_name }}</p>
                      <p><strong>{{ doc._source.company_short_name }}</strong></p>
                    </div>
                  </div>
                </div>
                <div class="col-3 date" >
                  <p>{{doc.day}}<br>{{ doc.schedule.Hora}} Hrs</p>
                </div>
              </div>
            </div>

          </div>





          <!--div  *ngIf="!docList.length" class="bottom-fixed">
            <a  [routerLink]="['/calendario']" class="btn one">Ver calendario</a>
          </div-->
        </section>

      </div>
    </div>

  </div>
</div>

<app-toggle-filtro-centro-medico [placeFilter]="placeFilter"></app-toggle-filtro-centro-medico>
<app-toggle-filtro-horario-dia [timeFilter]="timeFilter"></app-toggle-filtro-horario-dia>
