
<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-4 col-lg-7">
      <div class="master-content">

        <section class="top">
          <div class="container">
            <div class="back">
              <a backButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                  <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                </svg>
                Volver</a>
            </div>
            <div class="title">
              <h1>Reserva de horas</h1>
              <p>Para reservar tu hora debes ingresar los siguientes datos.</p>
            </div>
          </div>
        </section>

        <section class="content appointment no-title-top">
          <div class="container">
            <form class="form-outline" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
              <div class="form-group user">
                <label for="phone">Celular</label>
                <input type="text" class="form-control"  required minlength="8" formControlName="phone" id="phone" aria-describedby="phone" placeholder="+569 9876 5432">

              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" required minlength="4" formControlName="email" id="e-mail" aria-describedby="email" placeholder="tu@email.com">
              </div>
              <div class="form-group user">
                <label for="date">Fecha de nacimiento</label>
                <input type="date" class="form-control" required formControlName="date" id="date" aria-describedby="date" placeholder="DD/MM/AA">
              </div>
              <div class="form-group">
                <label for="prevision">Sexo</label>
                <select class="form-control" id="prevision" required formControlName="prevision">
                  <option selected>Seleccione una opción</option>
                  <option value="1">Mujer</option>
                  <option value="2">Hombre</option>
                  <option value="3">Prefiero no decirlo</option>
                  <option value="4">Otro</option>

                </select>
              </div>
              <div class="bottom-fixed">
                <button  type="submit" [ngClass]="(loading)?'btn one loading':'btn one'">Continuar</button>
              </div>

            </form>
          </div>
        </section>

      </div>
    </div>

  </div>
</div>
