@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
html,
body,
main {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all ease .3s;
  padding: 0 1px; }

/*
.overlay-site{
  background: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
}
*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    height: 30px; }
  .navbar .dropdown {
    position: relative;
    /**** ACCION PARA CONVERTIR EN MENU EN X *****
    .menu-toggle {
      .hamburger-bar {
        &:nth-child(1) {
          transform: translate(0, 14px) rotate(45deg);
          background: #222;
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translate(-200%, 0);
          background: #222;
        }

        &:nth-child(3) {
          transform: translate(0, -10px) rotate(-45deg);
          background: #222;
        }
      }
    }
    */ }
    .navbar .dropdown .notifications {
      position: absolute;
      right: 0;
      top: 5px;
      height: 25px;
      width: 25px;
      background: #F55555;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      z-index: 999; }
    .navbar .dropdown .dropdown-toggle:after {
      display: none; }
    .navbar .dropdown .menu-toggle {
      overflow: hidden;
      background: transparent;
      cursor: pointer;
      transition: all .4s ease; }
      .navbar .dropdown .menu-toggle .hamburger-bar {
        display: block;
        height: 2px;
        width: 35px;
        background: #002FA6;
        margin-bottom: 10px;
        transition: all .4s ease;
        margin-left: auto; }
        .navbar .dropdown .menu-toggle .hamburger-bar:last-child {
          margin-bottom: 0; }

.login {
  background: #1FA0E6;
  color: #fff;
  height: 100%;
  min-height: 100vh;
  padding: 5rem 1rem 3rem;
  margin: 0 -1rem; }
  .login .title {
    margin-bottom: 2rem; }
    .login .title h1 {
      font-size: 1.5rem;
      font-weight: 700; }
    .login .title.big h1 {
      font-weight: 700;
      font-size: 2.5rem; }
  .login .back {
    margin-bottom: 2rem; }
    .login .back a {
      color: #fff;
      text-decoration: none;
      padding: 5px 0; }
      .login .back a svg {
        margin-right: 5px;
        margin-top: -3px; }
  .login form .user {
    position: relative; }
    .login form .user #rut {
      padding-left: 2rem; }
    .login form .user svg {
      position: absolute;
      bottom: 10px;
      left: 7px;
      pointer-events: none; }
  .login form input, .login form select, .login form textarea {
    color: #555;
    font-size: 17px;
    border: none; }
    .login form input::-webkit-input-placeholder, .login form select::-webkit-input-placeholder, .login form textarea::-webkit-input-placeholder {
      color: #999; }
    .login form input::-moz-placeholder, .login form select::-moz-placeholder, .login form textarea::-moz-placeholder {
      color: #999; }
    .login form input:-ms-input-placeholder, .login form select:-ms-input-placeholder, .login form textarea:-ms-input-placeholder {
      color: #999; }
    .login form input:-moz-placeholder, .login form select:-moz-placeholder, .login form textarea:-moz-placeholder {
      color: #999; }
  .login .divider {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    position: relative; }
    .login .divider span {
      background: #1FA0E6;
      padding: 0.5rem;
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7); }
    .login .divider:after {
      content: '';
      height: 1px;
      width: 100%;
      top: 14px;
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.7); }

.btn {
  width: 100%;
  border-radius: 40px;
  font-size: 16px;
  margin: 5px 0; }
  .btn.one {
    background-color: #002FA6;
    color: #fff; }
  .btn.two {
    background-color: #fff;
    color: #002FA6; }
  .btn.three {
    background-color: #fff;
    color: #000; }
  .btn.four {
    background-color: #ADD7F0;
    color: #fff; }
  .btn.outline {
    background-color: #fff;
    color: #002FA6;
    border: 1px solid #002FA6; }
  .btn.google i {
    background-image: url('../../../assets/img/google.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 25px;
    width: 25px; }

.top {
  background: #1FA0E6;
  padding-top: 4rem;
  position: fixed;
  width: 100%;
  z-index: 888; }
  .top.oversize {
    padding-bottom: 10rem;
    padding-top: 60px; }
    .top.oversize + .content.appointment {
      padding: 12.5rem .75rem 7rem .75rem; }
  .top .title {
    margin: 1rem 0;
    color: #fff; }
    .top .title h1 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: .2rem; }
    .top .title.specialty p {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0; }
  .top .search {
    position: relative;
    width: 100%; }
    .top .search .back {
      position: absolute;
      left: 10px;
      bottom: 9px; }
      .top .search .back svg path {
        fill: #002FA6; }
    .top .search label {
      color: #fff; }
    .top .search input {
      width: 100%;
      padding: .375rem 2.5rem .375rem 2rem;
      font-size: 17px;
      border: none; }
    .top .search .lens {
      position: absolute;
      right: 0;
      bottom: -3px;
      text-align: right;
      width: auto; }
  .top .filters ::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
    margin-top: .5rem; }
  .top .filters ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2); }
  .top .filters ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    transition: all ease .3s; }
  .top .filters ::-webkit-scrollbar-thumb:hover {
    opacity: .5; }
  .top .filters ul {
    overflow-x: scroll;
    margin-bottom: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style: none;
    width: 100%;
    display: -webkit-inline-box; }
    .top .filters ul li {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 30px;
      padding: 5px 10px;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: .5rem; }
      .top .filters ul li a {
        color: #002FA6;
        font-weight: 600; }
  .top .back a {
    color: #fff;
    text-decoration: none;
    padding: 5px 0; }
    .top .back a svg {
      margin-right: 5px;
      margin-top: -3px; }
  .top .dr {
    margin: 1rem 0; }
  .top .media {
    color: #fff; }
    .top .media a {
      position: relative;
      max-width: 70px;
      margin-right: 1rem; }
      .top .media a img {
        border-radius: 50%;
        border: 2px solid #fff; }
      .top .media a::after {
        content: '+';
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid #1FA0E6;
        text-align: center;
        background: #002FA6;
        color: #fff;
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-weight: 700;
        font-size: 15px; }
    .top .media h5 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0px; }
    .top .media p {
      margin-bottom: 0px; }

.results {
  padding: 16rem .75rem 1rem .75rem;
  color: #555; }
  .results.dr-index {
    padding: 18rem .75rem 1rem .75rem; }
    .results.dr-index .media {
      margin: .7rem 0; }
      .results.dr-index .media .day {
        color: #002FA6;
        margin-right: 1rem;
        width: 50px; }
        .results.dr-index .media .day h5 {
          display: grid;
          font-weight: 300; }
          .results.dr-index .media .day h5 strong {
            font-weight: 600; }
      .results.dr-index .media .card {
        background: #f5f5f5;
        padding: 5px 8px;
        margin-bottom: 5px;
        border: none; }
  .results .category {
    margin-bottom: 2rem; }
  .results h3 {
    font-size: .85rem;
    text-transform: uppercase;
    color: #002FA6;
    font-weight: 600;
    margin-bottom: .8rem; }
  .results ul {
    -webkit-padding-start: 15px;
    -moz-padding-start: 15px; }
    .results ul li {
      margin-bottom: 10px; }
  .results p {
    margin-bottom: 10px; }
  .results .dr {
    margin-top: 1rem; }
  .results .media a {
    position: relative;
    max-width: 60px;
    margin-right: 1rem; }
    .results .media a img {
      border-radius: 50%;
      border: 2px solid #fff; }
    .results .media a::after {
      content: '+';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid #fff;
      text-align: center;
      background: #002FA6;
      color: #fff;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-weight: 700;
      font-size: 13px; }
  .results .media h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px; }
  .results .media p {
    margin-bottom: 0px; }
  .results .date {
    padding-left: 5px; }
    .results .date p {
      font-size: 14px; }

.table th {
  padding: 5px; }

.content {
  padding: 17rem .75rem 1rem .75rem; }
  .content.appointment {
    padding: 15rem .75rem 7rem .75rem; }
  .content.my-appointments {
    padding: 13rem .75rem 1rem .75rem; }
  .content.cards {
    padding: 14rem .75rem 1rem .75rem; }
  .content.desktop-calendar {
    padding: 17rem 0rem 1rem 0rem; }
  .content input, .content select, .content textarea {
    color: #555;
    font-size: 17px; }
    .content input::-webkit-input-placeholder, .content select::-webkit-input-placeholder, .content textarea::-webkit-input-placeholder {
      color: #999; }
    .content input::-moz-placeholder, .content select::-moz-placeholder, .content textarea::-moz-placeholder {
      color: #999; }
    .content input:-ms-input-placeholder, .content select:-ms-input-placeholder, .content textarea:-ms-input-placeholder {
      color: #999; }
    .content input:-moz-placeholder, .content select:-moz-placeholder, .content textarea:-moz-placeholder {
      color: #999; }
  .content label {
    color: #002FA6;
    font-weight: 600; }
  .content .form-control {
    border-color: #ADD7F0; }
  .content .data-card {
    position: relative;
    z-index: 888;
    background: #f5f5f5;
    border-radius: 7px;
    padding: 1.5rem 1rem;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5); }
    .content .data-card ul {
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      list-style-type: none;
      margin-bottom: 0; }
      .content .data-card ul li {
        margin-bottom: 1rem; }
        .content .data-card ul li:last-child {
          margin-bottom: 0; }
        .content .data-card ul li p {
          font-size: 14px;
          color: #555;
          margin-bottom: 0; }
        .content .data-card ul li h4 {
          color: #002FA6;
          font-size: 18px;
          margin-bottom: 0;
          font-weight: 700; }
        .content .data-card ul li h5 {
          color: #002FA6;
          font-size: 16px;
          margin-bottom: 0; }
  .content .cancel {
    margin-top: 1rem; }
    .content .cancel p {
      margin-bottom: .3rem; }
  .content .bottom-fixed {
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 777;
    text-align: center;
    padding: 1rem; }
    .content .bottom-fixed .btn {
      padding: .7rem;
      font-size: 18px; }
  .content .card {
    background: #f5f5f5;
    border: none;
    margin-bottom: .5rem;
    display: table;
    padding: .7rem 1rem;
    width: 100%; }
    .content .card a {
      display: table-cell;
      vertical-align: middle;
      width: 15%;
      text-align: center; }
    .content .card .card-body {
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      color: #555;
      width: 85%; }
      .content .card .card-body h5 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 18px; }
      .content .card .card-body h6 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px; }
      .content .card .card-body p {
        margin-bottom: 0;
        font-size: 14px; }

.calendar .month {
  background: #002FA6;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: .7rem;
  padding: 5px 15px; }
  .calendar .month li:first-child {
    float: left; }
  .calendar .month li:last-child {
    float: right;
    transform: rotate(180deg); }
  .calendar .month li svg {
    vertical-align: text-bottom; }
.calendar .table th, .calendar .table td {
  border: none !important;
  text-align: center; }
.calendar .table td {
  padding: .4rem; }
  .calendar .table td .center {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block; }
    .calendar .table td .center.one {
      background: #002FA6; }
    .calendar .table td .center.two {
      background: #1FA0E6; }
    .calendar .table td .center.three {
      background: #ADD7F0; }
.calendar .table th {
  font-weight: 400; }
.calendar .table a {
  color: #555;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 0;
  transition: all ease .3s;
  text-decoration: none; }
  .calendar .table a.disabled {
    background: #f5f5f5; }
  .calendar .table a.abled {
    border: 2px solid #002FA6; }
    .calendar .table a.abled:hover {
      background: #ADD7F0;
      color: #fff;
      text-decoration: none;
      border: none; }
  .calendar .table a.selected {
    background: #002FA6;
    color: #fff; }
.calendar .symbology ul {
  margin-bottom: .5rem; }
  .calendar .symbology ul li {
    font-size: 14px;
    color: #999; }
    .calendar .symbology ul li span {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 3px;
      display: inline-block; }
      .calendar .symbology ul li span.abled {
        background: #fff;
        border: 1px solid #002FA6; }
      .calendar .symbology ul li span.disabled {
        background: #f5f5f5; }
      .calendar .symbology ul li span.selected {
        background: #002FA6; }
      .calendar .symbology ul li span.center.one {
        background: #002FA6;
        height: 8px;
        width: 8px; }
      .calendar .symbology ul li span.center.two {
        background: #1FA0E6;
        height: 8px;
        width: 8px; }
      .calendar .symbology ul li span.center.three {
        background: #ADD7F0;
        height: 8px;
        width: 8px; }

.toggle {
  position: fixed;
  z-index: 998;
  bottom: 0;
  background: #fff;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4); }
  .toggle .exit {
    position: absolute;
    right: 1rem;
    top: 1rem; }
  .toggle .inner-content {
    padding: 2rem 1rem; }
    .toggle .inner-content svg {
      margin-bottom: 1rem; }
    .toggle .inner-content p {
      margin-bottom: 0; }
  .toggle .button {
    background: #f5f5f5;
    padding: 1rem 1.5rem; }
  .toggle .dr {
    padding: 2rem 1rem; }
    .toggle .dr .profile .image {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: .5rem; }
    .toggle .dr .profile h5 {
      color: #002FA6;
      font-weight: 600;
      margin-bottom: 0; }
    .toggle .dr .profile p {
      color: #002FA6; }
    .toggle .dr .description {
      text-align: left;
      padding-bottom: 1rem; }
    .toggle .dr .aditional li {
      margin: 0rem .25rem .5rem .25rem; }
  .toggle .medical-center {
    text-align: left; }
    .toggle .medical-center .select {
      padding: 2rem; }
    .toggle .medical-center label {
      color: #002FA6;
      font-weight: 600; }
    .toggle .medical-center input, .toggle .medical-center select, .toggle .medical-center textarea {
      border-color: #ADD7F0; }
    .toggle .medical-center .form-row {
      margin-bottom: 0; }
  .toggle .checkboxes .hour {
    padding: 2rem 2rem 1rem 2rem; }
    .toggle .checkboxes .hour .inputs label {
      margin-bottom: .5rem;
      width: 100%;
      font-weight: 400;
      color: #002FA6; }
  .toggle .checkboxes .day {
    padding: 1rem 2rem 2rem 2rem; }
    .toggle .checkboxes .day .inputs {
      display: inline-flex; }
      .toggle .checkboxes .day .inputs label {
        text-transform: lowercase;
        font-weight: 300;
        color: #002FA6;
        padding: 6px 2px;
        height: 40px;
        width: 40px;
        text-align: center;
        margin: 0 .25rem; }
  .toggle .checkboxes .custom-control-input:checked ~ .custom-control-label {
    background: #ADD7F0;
    font-weight: 600;
    color: #fff;
    transition: all ease .3s; }
  .toggle .checkboxes .form-group {
    margin-bottom: 0; }
  .toggle .checkboxes p {
    color: #002FA6;
    font-weight: 600;
    text-align: left; }
  .toggle .checkboxes input, .toggle .checkboxes select, .toggle .checkboxes textarea {
    border-color: #ADD7F0; }
  .toggle .checkboxes .form-row {
    margin-bottom: 0; }
  .toggle .checkboxes label {
    transition: all ease .3s;
    border: 1px solid #ADD7F0;
    padding: 10px;
    border-radius: 50px; }
    .toggle .checkboxes label:before {
      display: none; }
    .toggle .checkboxes label:after {
      display: none; }
  .toggle .checkboxes .custom-control.custom-checkbox {
    padding-left: 0; }
  .toggle .form-outline {
    text-align: left; }
    .toggle .form-outline label {
      color: #002FA6;
      font-weight: 600; }
    .toggle .form-outline input, .toggle .form-outline select, .toggle .form-outline textarea {
      border-color: #ADD7F0; }
    .toggle .form-outline .fields {
      padding: 2rem;
      padding-bottom: 1rem; }
    .toggle .form-outline .form-row {
      margin-bottom: 0; }

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none; }

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none; }

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50; }

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none; }

input[type="date"], focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

.custom-control-label::before {
  background-color: #5EB6EA;
  border: #fff solid 2px; }

.custom-control-input:checked ~ .custom-control-label:before {
  border-color: #fff; }

/******* MIN-WIDTH *******/
@media (min-width: 992px) {
  body {
    background: #f5f5f5; }

  .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%; }
    .bg .overlay {
      background-color: rgba(0, 0, 0, 0.3);
      height: 100%;
      padding: 7%; }

  .login {
    background-color: #fff;
    color: #555;
    padding: 3rem 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3); }
    .login .title {
      color: #1FA0E6; }
    .login .btn.google {
      border-color: #999; }
    .login .divider span {
      background: #fff;
      color: rgba(0, 0, 0, 0.3); }
    .login .divider:after {
      background: rgba(0, 0, 0, 0.3); }
    .login input, .login select, .login textarea {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #ADD7F0; }
    .login .back a {
      color: #1FA0E6; }
      .login .back a svg path {
        fill: #1FA0E6; }

  .master-content {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7rem;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3); }
    .master-content .top {
      position: relative;
      padding: 1rem 0; }
      .master-content .top .filters {
        margin-bottom: 0; }
    .master-content .results {
      padding: 1rem .75rem 1rem .75rem;
      overflow-y: scroll;
      max-height: 500px; }
      .master-content .results .media h5 {
        font-size: 16px; }
      .master-content .results .media p {
        font-size: 14px; }

  .content.desktop-calendar {
    padding: 0rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7rem;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3); }
    .content.desktop-calendar .title-bar {
      background: #EDEDED;
      color: #002FA6;
      text-align: center;
      padding: .7rem;
      margin: 0 -1rem 1.5rem -1rem; }
      .content.desktop-calendar .title-bar h2 {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 0; }
    .content.desktop-calendar .calendar {
      width: 65%;
      float: left;
      padding-right: 1rem;
      border-right: 1px solid #f5f5f5;
      padding-bottom: 2rem; }
      .content.desktop-calendar .calendar .table td {
        padding: .4rem 1.1rem; }
    .content.desktop-calendar .hours {
      width: 35%;
      float: left;
      padding-left: 1rem;
      padding-bottom: 2rem; }
      .content.desktop-calendar .hours .card {
        transition: all ease .3s; }
        .content.desktop-calendar .hours .card:hover {
          background: #002FA6;
          color: #fff; }
        .content.desktop-calendar .hours .card p {
          margin-bottom: 0; }
  .content .bottom-fixed {
    position: absolute; }
  .content.cards, .content.my-appointments {
    padding: 1rem .75rem 1rem .75rem; }
  .content.appointment {
    padding: 1rem .75rem 1rem .75rem;
    min-height: 500px; }
    .content.appointment .data-card {
      top: -2rem; }
  .content .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; }

  .toggle {
    position: relative; }
    .toggle .form-outline input, .toggle .form-outline select, .toggle .form-outline textarea {
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none; } }
@media (min-width: 1366px) {
  .container {
    max-width: 1300px; } }
/******* MAX-WIDTH *******/
@media (max-width: 1366px) {
  .content.desktop-calendar .calendar .table td {
    padding: .4rem; }

  .master-content .results {
    padding: 16.4rem 0 5rem 0; } }
@media (max-width: 992px) {
  .container {
    max-width: 100%; }

  .master-content {
    margin: 0 -1rem; }

  .col-md-8 {
    padding: 0; } }

/*# sourceMappingURL=main.css.map */
