<main *ngIf="config">
  <div class="bg" style="background-image:url(assets/img/bg-min.jpg)">
    <div class="overlay">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 col-lg-7">
            <section class="login">
              <div class="container">
                <div class="title big">
                  <h1> {{config.result.heading}} </h1>
                </div>
                <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                  <div class="form-group user">
                    <label for="rut">{{config.result.search_label}}</label>

                    <input type="text" class="form-control" formControlName="rut"  name="rut" id="rut" aria-describedby="rut" formatRut validateRut required/>
                    <div class="invalid-feedback">Debes ingresar un rut correcto</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17.948" viewBox="0 0 18 17.948">
                      <g id="noun_User_3016339" transform="translate(-18 -12.5)">
                        <path id="Trazado_212" data-name="Trazado 212" d="M27.082,49a8.917,8.917,0,0,0-9,8.127.8.8,0,0,0,.227.614.86.86,0,0,0,.619.259h16.3a.86.86,0,0,0,.619-.259.8.8,0,0,0,.227-.614A8.917,8.917,0,0,0,27.082,49Z" transform="translate(-0.083 -27.552)" fill="#232fa4"/>
                        <circle id="Elipse_44" data-name="Elipse 44" cx="4" cy="4" r="4" transform="translate(23 12.5)" fill="#232fa4"/>
                      </g>
                    </svg>
                  </div>
                  <div class="form-group" *ngIf="PrevIn">
                    <label for="prevision">Seleccione una previsión</label>
                    <select class="form-control" id="prevision">
                      <option selected>Ej: Fonasa</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                    </select>
                  </div>
                    <div class="form-group date-user"  *ngIf="birthIn">
                        <label for="rut">Ingresa tu fecha de nacimiento</label>
                        <input type="date" class="form-control" id="birth-date" aria-describedby="birth-date" placeholder="xx/xx/xxxx">
                    </div>
                  <div class="form-group">
                    <button type="submit"   [ngClass]="(loading)?'btn one loading':'btn one'" >Continuar</button>
                    <a [routerLink]="['/pasaporte']"  class="btn outline" *ngIf="config.result.show[1]=='no_rut'">No tengo rut</a>
                  </div>
                  <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rememberme" name="rememberme" formControlName="rememberme" *ngIf="config.result.show[0]=='recordarme'">
                    <label class="custom-control-label" for="rememberme">Recuérdame</label>
                  </div>
                  <!--div class="divider"><span>o</span></div-->
                 <!--app-login-google></app-login-google-->
                </form>
              </div>
            </section>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>
