@import '~angular-calendar/scss/angular-calendar.scss';

.clinic-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-primary: #fff;
  $bg-dark-secondary: #f5f5f5;
  $bg-active: #555;
  $text-color: #212529;
  $border-color: #f5f5f5;

    // Call the calendar mixin with a sass color map of your theme. Every property is optional.
    // For a list of all variables and how they are used,
    // see https://github.com/mattlewis92/angular-calendar/tree/master/projects/angular-calendar/src/variables.scss
    @include cal-theme(
        (

        border-color: $bg-primary,

        )
    );

    .cal-cell-row.cal-header{
        font-weight: 400;
        text-transform: capitalize;
        min-width: 70px;
    }
    .cal-cell,.cal-month-view{
        text-align: center;
        .cal-day-cell.cal-today{
          background-color: #fff;
          position: relative;
            .cal-day-number{
                font-size: 1rem;
                background: #002FA6;
                color: #fff;
            }
        }
    }
    .cal-month-view,.cal-cell-top{
        min-height: 50px;
      position: relative;
    }
    .cal-day-cell{
        min-height: 40px;
      position: relative;
    }
    .cal-day-number{
      font-size: 1rem;
      text-align: center;
      color: #555;
      line-height: 30px;
      background-color: #f5f5f5;
      height: 35px;
      width: 35px;
      display: block;
      padding: 0;
      text-decoration: none;
      border-radius: 50%;
      margin-right: auto;
      margin-top: 10px;
      opacity: 1;
      margin-left: auto;
      float: none;
    }
    .cal-day-badge{
        display: none;
    }


    [ng-reflect-ng-class="holidays"]{
        color: red;
    }
  .cal-month-view .cal-events {
    position: absolute;
    bottom: -7px;
    left: 5px;
  }

}
.calendar .symbology ul li span.abled{
  background-color:grey;
  border: 1px solid grey;
}
.calendar .symbology ul li span.enable{
  background-color:#007bff;
  border: 1px solid #007bff;
}
.cal-month-view .cal-day-cell.cal-in-month.cal-has-events{
  cursor: default;
}
.cal-event.click.ng-star-inserted{
  cursor: pointer;
}


