<div class="container">
    <div class="calendar">
      <ul class="list-inline month">
        <li class="list-inline-item">
            <a  (click)="decrement()">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18">
              <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
            </svg>
          </a>
        </li>
        <li class="list-inline-item">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</li>
        <li class="list-inline-item">
            <a (click)="increment()">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18">
              <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
            </svg>
          </a>
        </li>
      </ul>
      <ng-template #loading>
        <div class="text-center">
          Buscando Horas Disponibles...
        </div>
      </ng-template>
      <div id="calendar">
        <div *ngIf="events$ | async; else loading; let events">
          <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            (dayClicked)="dayClicked( $event.day, $event)"
            [weekendDays]="weekendDays">
          </mwl-calendar-month-view>
        </div>
      </div>

      <div class="symbology">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="abled"></span> Copado</li>
          <li class="list-inline-item"><span class="enable"></span> Disponible</li>
          <li class="list-inline-item"><span class="selected"></span> No Disponible</li>
        </ul>

      </div>
    </div>
  </div>





