<section class="toggle" *ngIf="placeFilter" [@EnterLeave]>
  <form class="medical-center">
    <div class="form-group select">
      <label for="medical-center">Selecciona un centro médico</label>
      <ng-select
        class="custom"
        [items]="centers$"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="false"
        bindLabel="nombre_centro"
        [(ngModel)]="selectedCenters"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="doSomething($event)"
      >
    </ng-select>
    </div>
    <div class="button">
      <div class="form-group form-row">
        <div class="col-6">
          <button type="submit" class="btn outline" (click)="placeFilter = !placeFilter ">Cancelar</button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn one" (click)="placeFilter  = !placeFilter ">Confirmar</button>
        </div>
      </div>
    </div>
  </form>
</section>