
<div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="master-content">

          <section class="top">
            <div class="container">
              <div class="back">
                <a backButton>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                    <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                  </svg> Volver</a>
              </div>
              <div class="title">
                <h1>Mis citas</h1>
                <p>Acá podrás anular y confirmar tus citas médicas.</p>
              </div>
            </div>
          </section>

          <section class="content my-appointments">
            <div [ngClass]="(loadingList)?'container loading-list':'container'">
              <div class="card" *ngFor="let cita of citas">
                <div class="card-body">
                  <h5>{{cita.name}}</h5>
                  <p>{{cita.speciality}}</p>
                  <h6>{{cita.center}}</h6>
                  <p>{{cita.date_time}}</p>
                </div>
                <a>
                  <svg xmlns="http://www.w3.org/2000/svg" width="5" height="29" viewBox="0 0 5 29">
                    <path id="Unión_1" data-name="Unión 1" d="M0,26.5A2.5,2.5,0,1,1,2.5,29,2.5,2.5,0,0,1,0,26.5Zm0-12A2.5,2.5,0,1,1,2.5,17,2.5,2.5,0,0,1,0,14.5Zm0-12A2.5,2.5,0,1,1,2.5,5,2.5,2.5,0,0,1,0,2.5Z" fill="#232fa4"/>
                  </svg>
                </a>
              </div>


            </div>
          </section>

        </div>
      </div>

    </div>
  </div>
