
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-7">
      <div class="master-content">

        <section class="top" >
          <div class="container">
            <form class="search-form form-inline" [formGroup]="reactiveForm" >
              <div class="form-group search">
                <label for="search">Buscar Doctor o Especialidad</label>

                <div class="back" backButton>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                    <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                  </svg>
                </div>
                <input autocomplete="off" class="form-control" formControlName="search" (keyup)="onSearch()" type="search" id="search"  minlength="4" aria-describedby="search">
                <button class="btn lens" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="18.059" height="18.059" viewBox="0 0 18.059 18.059">
                  <path id="Trazado_278" data-name="Trazado 278" d="M533.962,79.487l-4.271-4.271a7.567,7.567,0,1,0-1.34,1.341l4.272,4.271a.948.948,0,1,0,1.339-1.341ZM517.853,70.6a5.879,5.879,0,1,1,5.879,5.879A5.886,5.886,0,0,1,517.853,70.6Z" transform="translate(-516.181 -63.046)" fill="#002fa6"/>
                </svg></button>
              </div>
              <div class="form-group filters">

                <ul>
                  <li *ngFor="let center of centers">
                    <a (click)="placeFilter = !placeFilter">{{ center.nombre_centro }}</a>
                  </li>
                  <li *ngFor="let hour of hours">
                    <a (click)="timeFilter = !timeFilter">{{ hour.name }}</a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </section>

        <section [ngClass]="(active && !loadingList)?'results no-title-top no-results':'results no-title-top'" >
          <div [ngClass]="(loadingList)?'container loading-list':'container'">
            <div class="category" @myInsertRemoveTrigger *ngIf="sintoma.length">
              <h3>Síntomas</h3>
              <ul>
                <li *ngFor="let sin of sintoma"><a (click)="onInteractionClick(sin);">{{sin._source.condition}}</a></li>
              </ul>
            </div>
            <div class="category" @myInsertRemoveTrigger  *ngIf="especialidad.length">
              <h3>Especialidades</h3>
              <p  *ngFor="let esp of especialidad" ><a (click)="onInteractionClickList(esp);" [innerHTML]="esp._source.specialty_name"  ></a></p>
            </div>
            <div class="category" @myInsertRemoveTrigger  *ngIf="doctor.length">
              <h3>Profesionales</h3>
              <div class="row dr" *ngFor="let doc of doctor" >
                <div class="col-9 info">
                  <div class="media">
                    <a  (click)="onInteractionClick(doc);" class="align-self-center">
                      <img src="assets/img/no-foto.jpeg" class="img-fluid">
                    </a>
                    <div class="media-body align-self-center">
                      <h5 class="mt-0 capitalize" [innerHTML]="doc._source.full_name" ></h5>
                      <p>{{doc._source.specialty_name }}</p>
                      <p><strong>{{ doc._source.company_short_name }}</strong></p>
                    </div>
                  </div>
                </div>
                <!--div class="col-3 date" >
                  <p>{{ doc.elDia}}<br> {{doc.laHora}} hrs</p>
                </div-->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<app-toggle-filtro-centro-medico (changePlace)="centers=$event" [placeFilter]="placeFilter"></app-toggle-filtro-centro-medico>
<app-toggle-filtro-horario-dia [timeFilter]="timeFilter"></app-toggle-filtro-horario-dia>
