
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-7">
      <div class="master-content">

        <section class="top">
          <div class="container">
            <div class="back">
              <a backButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 9 18">
                  <path id="Trazado_277" data-name="Trazado 277" d="M548.558,85.517a1,1,0,0,1-.753-.342l-7-8.006a1,1,0,0,1,0-1.317l7-7.994a1,1,0,1,1,1.5,1.317l-6.423,7.336,6.424,7.347a1,1,0,0,1-.753,1.659Z" transform="translate(-540.558 -67.517)" fill="#fff"/>
                </svg>
                Volver</a>
            </div>
            <div class="dr">
              <div class="media">
                <a href="#" class="align-self-center">
                  <img src="assets/img/no-foto.jpeg" class="img-fluid">
                </a>
                <div class="media-body align-self-center">
                  <h5 class="mt-0 text-capitalize"   [innerHTML]="result._source.full_name"></h5>
                  <p class="text-capitalize" [innerHTML]="result._source.specialty_name"></p>
                </div>
              </div>
            </div>
            <form>
              <div class="form-group filters">
                <ul>
                  <li *ngFor="let center of globals.selectedCenters; index as i; first as isFirst">
                    <a (click)="placeFilter = !placeFilter">{{center.nombre_centro}}</a>
                  </li>

                  <li *ngFor="let hour of globals.selectedHour; index as i; first as isFirst" >
                    <a (click)="timeFilter = !timeFilter">{{hour.name}}</a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </section>

        <section class="results content dr-index">
          <div  [ngClass]="(loadingList)?'container loading-list':'container'">
            <div class="category">
              <h3 *ngIf="!noresult" class="title-category">Siguientes horas Disponibles</h3>
              <h3 *ngIf="noresult" class="title-category">Sin Horas Disponibles los siguientes 30 Dias</h3>
              <div class="media"  *ngFor="let day of hourPerDay">

                <div class="day">
                  <h5 class="text-uppercase">{{ day[0].day.split('-')[0] }} <strong>{{day[0].day.split('-')[1]}}</strong></h5>
                </div>
                <div class="media-body">
                  <a *ngFor="let hour of day" class="not-more" >

                    <div class="card" (click)="onInteractionClick(hour);">
                      <p>Centro médico: {{hour.nombre_centro}}</p>
                      <p><strong>{{hour.Hora}}</strong></p>
                    </div>
                  </a>

                </div>
              </div>


            </div>
          </div>

          <div class="bottom-fixed">
            <a  [routerLink]="['/calendario']" class="btn one">Ver calendario</a>
          </div>
        </section>

      </div>
    </div>

  </div>
</div>

<app-toggle-filtro-centro-medico [placeFilter]="placeFilter"></app-toggle-filtro-centro-medico>
<app-toggle-filtro-horario-dia [timeFilter]="timeFilter"></app-toggle-filtro-horario-dia>
